.img-banner1{
  @include md{
    width: 60%;
  }
}

.img-banner2{
  height: 372px;
  @include md{
    width: 50%;
  }
}

.ranking{
  .ranking-img-s{
    width: 87px;
    height: 94px;
    @include md{
      height: 121px;
    }
    @include lg{
      height: 94px;
    }
  }
  .ranking-img{
    width: 87px;
    height: 94px;
    @include md{
      width: 100%;
      height: 195px;
    }
    @include lg{
      height: 266px;
    }
    @include xl{
      height: 319px;
    }
    @include xxl{
      height: 375px;
    }
  }
}

.artworks{
  .h-lg-169{
    @include lg{
      height: 169px;
    }
  }
  .h-lg-254{
    @include lg{
      height: 254px;
    }
  }
  .h-lg-327{
    @include lg{
      height: 327px;
    }
  }
  .h-lg-395{
    @include lg{
      height: 395px;
    }
  }
}
