//* 卡片左上角數字
@for $i from 1 through 6 {
    .card-number-#{$i} {
      position: relative;
      &::before {
        display: none;
        @include lg {
          display: block;
          content: "#{$i}";
          font-family: 'Paytone One';
          position: absolute;
          font-size: 32px;
          left: 0;
          top: 0;
          width: 64px;
          height: 64px;
          z-index: 10;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $black;
          background: $white;
          border-right: 1px solid $black;
          border-bottom: 1px solid $black;
        }
      }
    }
  }
  
  //* 卡片三角裝飾
  .card-corner {
    position: relative;
    &-top-start {
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background: $black;
      clip-path: polygon(0 0, 100% 0, 0 100%);
    }
    &-top-end {
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 24px;
      background: $black;
      clip-path: polygon(0 0, 100% 0, 100% 100%);
    }
  }
  