//* .img-info 圖片資訊淡出效果
// 結構：.img-info > img + (( .img-info-background ) > .img-info-content{...})
.img-info {
    position: relative;
    &-background {
      display: none;
      @include md {
        display: block;
        opacity: 0;
        transition: .3s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 16px;
        background: rgba($black, .7);
      }
    }
    &-content {
      border: 1px solid $white;
      padding: 16px;
      color: $white;
      height: 100%;
      overflow: hidden;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &:hover &-background {
      opacity: 1 !important;
      transition: .3s;
    }
  }
  
  
  //* 使用 .hoverArea 使區域 hover 後顯示小圖片資訊
  // 結構：.hoverArea > .img-info-sm > img + a.img-info-link{...}
  .img-info-sm {
    position: relative;
  }
  .img-info-link {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $white !important;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s;
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 16px;
      height: 16px;
      background: $primary;
      clip-path: polygon(100% 0, 100% 100%, 0 100%);
    }
  }
  .hoverArea:hover .img-info-link {
    opacity: 1;
    transition: .3s;
    background: rgba($black, .5);
  }